<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <form @submit.prevent="submit">
                        <div class="block mt-4">
                            <label class="flex items-center">
                                <jet-checkbox v-model:checked="form.product" />
                                <span class="ml-2 text-sm text-gray-600">Product</span>
                            </label>
                            <label class="flex items-center">
                                <jet-checkbox v-model:checked="form.news" />
                                <span class="ml-2 text-sm text-gray-600">News</span>
                            </label>
                        </div>

                        <div class="flex">
                            <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Subscribe
                            </jet-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'
    import JetCheckbox from "@/Jetstream/Checkbox";
    import JetButton from '@/Jetstream/Button'

    export default {
        created : function(){
            window.Echo.channel('notification')
                .listen('BroadcastModelEvent', (e) => {
                    console.log(e);
                });

            console.log("Created");
        },
        watch : {
            form : {
                type1: {
                    hanlder(val) {
                        if (val) this.form.type.push("product")
                    }
                }
            }
        },
        data() {
            return {
                form: this.$inertia.form({
                    product : false,
                    news : false
                })
            }
        },

        methods: {
            submit() {
                this.form
                    .post(this.route('subscribe.store'), {
                        onFinish: () => console.log("done"),
                    })
            }
        },
        components: {
            JetCheckbox,
            AppLayout,
            Welcome,
            JetButton,
        },
    }
</script>
